.sixcont > button,
.sixcont > img,
.sixcont > div {
  transition: all 0.5s ease-out;
}
@font-face {
  font-family: "SF-Pro";
  font-style: normal;
  src : url('regular.OTF'); 
} 

.mac {
  font-family: "SF-Pro"
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-act {
  color: black;
  border-radius: 10px;
  background-color:#8F93FB  ;
}